{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>CRUD (GOlang and MySql)</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>CRUD (GOlang and MySql)</h1>   
{{ end }}