{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Student</h2>  
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> Course </label><input type="text" name="course" /><br />
      <input type="submit" value="Save" />
    </form>
  {{ template "Footer" }}
{{ end }}